<%= form_for(@email_address) do |f| %>
  <% if @email_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_address.errors.count, "error") %> prohibited this email_address from being saved:</h2>

      <ul>
      <% @email_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.hidden_field :person_id %>   <!-- :person_id is an attribute in the email database -->
  </div>
  <div class="actions">
    <%= f.submit %>  <!-- depending on what @email_address's id is (nil or an integer), it will call create or update back in email_address controller-->
  </div>
<% end %>
